<html>
    <head>
        <title>Acme Products</title>
        <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
    </head>
    <body>
        <div class='container'>
            <a href='/products'>All Products</a>
            <h1>Product {{name}}</h1>
            <div>
                <p>Rating {{rating}}</p>
                <form method='post' action='/products/{{id}}?_method=DELETE'>
                    <button class='btn btn-danger'>Delete</button>
                </form>
            </div>
        </div>
    </body>
</html>